# CMake
cmake-build-debug/
cmake-build-release/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake

# 编译产物和构建文件
.pio/
build/
cmake-build-*/
*.elf
*.hex
*.o
*.d
*.a
*.so
*.dll
*.exe

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db
src/.idea/

# Arduino内置库（已从Git中移除）
lib/Arduino_BuiltIn/
lib/Ethernet/
lib/Firmata/
lib/Keyboard/
lib/LiquidCrystal/
lib/Mouse/
lib/SD
lib/Servo/
lib/Stepper/
lib/TFT/

backups/
include/
